# Xcode
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# XcodeGen-generated
Sources/Translator/Generated-Info.plist

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
